<header>
      <div class="topnav">
        <div class="container">
          <div class="vertical logo">
            <a href="{{ '' | url }}" title="{{ shop.title }}">
              <img src="{{ 'logo.png' | url_asset }}" alt="{{ shop.title }}" />
            </a>
          </div>
          {% if shop.languages | length > 1 or shop.currencies | length > 1 %}
          <div class="left">
            {% if shop.languages | length > 1 %}
            <div class="languages">
              {% for lang in shop.languages %}
              <a href="{{ lang.url | url }}" class="flag {{ lang.code }}" title="{{ lang.title }}" lang="{{ lang.code }}">{{ lang.title }}</a>
              {% endfor %}
            </div>
            {% endif %}
            {% if shop.currencies | length > 1 %}
            <div class="currencies">
              {% for curr in shop.currencies %}
              <a href="{{ curr.url | url }}" {% if curr.active %}class="active"{% endif %} title="{{ curr.title }}">
                {{ curr.code }}
              </a>
              {% if not loop.last %} / {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% endif %}
          <div class="right">
            <a href="{{ 'cart' | url }}" title="{{ 'Cart' | t }}" class="cart"> 
              <span class="glyphicon glyphicon-shopping-cart"></span>
              {{ page.cart.products | length }} {{ 'Items' | t }} - {{ page.cart.total.price | money }}
            </a>
            <a href="{{ 'account' | url }}" title="{{ 'My account' | t }}" class="my-account">
              <span class="glyphicon glyphicon-user"></span>
              {% if page.account %}
              {{ 'Welcome, $1!' | t(page.account.firstname) | raw }}              
              {% else %}
              {{ 'My account' | t }} / {{ 'Register' | t }}
              {% endif %}
            </a>
             <form action="{{ 'search' | url }}" method="get" id="formSearch">
              <input type="text" name="q" autocomplete="off"  value="{{ page.search }}"/>
              <span onclick="$('#formSearch').submit();" title="{{ 'Search' | t }}" class="glyphicon glyphicon-search"></span>
            </form> 
          </div>
        </div>
      </div>
      <div class="navigation container">
        <div class="align">
          <ul class="burger">
            <img src="{{ 'hamburger.png' | url_asset }}" width="32" height="32" alt="Menu">
          </ul>
          <div class="vertical logo">
            <a href="{{ '' | url }}" title="{{ shop.title }}">
              <img src="{{ 'logo.png' | url_asset }}" alt="{{ shop.title }}" />
            </a>
          </div>
          <nav class="nonbounce desktop vertical">
            <form action="{{ 'search' | url }}" method="get" id="formSearch">
              <input type="text" name="q" autocomplete="off"  value="{{ page.search }}"/>
              <span onclick="$('#formSearch').submit();" title="{{ 'Search' | t }}" class="glyphicon glyphicon-search"></span>
            </form>            
            <ul>
              <li class="item home {% if template == 'pages/index.rain' %}active{% endif %}">
                <a class="itemLink" href="{{ '' | url }}">{{ 'Home' | t }}</a>
              </li>
              {% for category in shop.categories %}
              <li class="item{% if category.subs %} sub{% endif %}{% if category.url is active %} active{% endif %}">
                <a class="itemLink" href="{{ category.url | url }}" title="{{ category.title }}">{{ category.title }}</a>
                {% if category.subs %}
                <span class="glyphicon glyphicon-play"></span>
                <ul class="subnav">
                  {% for category in category.subs %}
                  <li class="subitem">
                    <a class="subitemLink" href="{{ category.url | url }}" title="{{ category.title }}">{{ category.title }}</a>
                    {% if category.subs %}
                    <ul class="subnav">
                      {% for category in category.subs %}
                      <li class="subitem">
                        <a class="subitemLink" href="{{ category.url | url }}" title="{{ category.title }}">{{ category.title }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
              {% if shop.blogs %}
              {% for blog in shop.blogs %}
              <li class="item sub{% if template == 'pages/blog.rain' %} active{% endif %}"><a class="itemLink" href="{{ blog.url | url }}" title="{{ blog.title }}">{{ blog.title }}</a>
                <ul class="subnav">
                  {% for article in blog.articles %}
                  <li class="subitem"><a class="subitemLink" href="{{ article.url | url }}" title="{{ article.title }}">{{ article.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
              {% endif %}
              {% if theme.setting_brands %}
              {% if shop.brands %}
              <li class="item{% if template == 'pages/brands.rain' %} active{% endif %}"><a class="itemLink" href="{{ 'brands' | url }}" title="{{ 'Brands' | t }}">{{ 'Brands' | t }}</a></li>
              {% endif %}
              {% endif %}
            </ul>
            <span class="glyphicon glyphicon-remove"></span>  
          </nav>
        </div>
      </div>
    </header>