<div id="header-part">
    <div class="menu-parent">
        <div class="centring">
            <div class="logo">
                <a href="{{ '' | url }}" title="{{ shop.title }}">
                    <img src="{{ 'logo.png' | url_asset }}" alt="{{ shop.title }}">
                </a></div>
            <div class="right menu">
                <ul>
                    <li><a href="http://www.nikkie.com/en/service/stores/">
                        <img alt=""
                             src="http://assets.webshopapp.com/nikkie/icon-nikkie.jpg?2"
                             width="17"></a></li>
                    <li class="wish">
                        <a
                                href="https://nikkie.webshopapp.com/en/account/wishlist/?sid=3d9db7a888c4a6e08032abd979281ccf030e4b7bc6ab90b5"><img
                                alt="" src="http://assets.webshopapp.com/nikkie/whishlet.jpg?2"></a>
                    </li>
                    <li class="cart"><a href="http://www.nikkie.com/en/cart/" class="icon">0</a>
                    </li>
                    <li class="eng languages">
                        <a href="#">en</a>
                        <div class="laungau">
                            <ul>
                                <li class="langua-en"><a href="http://www.nikkie.com/en/">English</a></li>
                                <li class="langua-nl"><a href="http://www.nikkie.com/nl/">Nederlands</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="eng currencies">
                        <a href="#">EUR</a>
                        <div class="currency">
                            <ul>
                                <li class="curr-EUR"><a href="http://www.nikkie.com/en/session/currency/eur/">€ Euro</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="signin"><a
                            href="https://nikkie.webshopapp.com/en/account/?sid=3d9db7a888c4a6e08032abd979281ccf030e4b7bc6ab90b5">Sign
                        in</a></li>
                    <li class="serch"><a href="#">Search</a></li>
                </ul>
            </div>
            <div class="cart-menu">
                <h4>Just Added To Your Bag</h4>
                <div class="left">
                    <a href="#" class="link">
                        <img class="image" alt=""
                             src="http://assets.webshopapp.com/nikkie/images/cart-product-img1.png">
                    </a>
                </div>
                <div class="right">
                    <h3 class="title"></h3>
                    <ul>
                        <li class="price"></li>
                    </ul>
                    <a href="http://www.nikkie.com/en/cart/" class="btn">Check Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="centring">
            <div class="toggle">
                <span></span><span></span><span></span></div>
            <ul>
                <li><a href="{{ '' | url }}">{{ 'Home' | t }}</a></li>
                {% for category in shop.categories %}
                <li>
                    <a  href="{{ category.url | url }}" title="{{ category.title }}">{{ category.title }}</a>
                    {% if category.subs %}
                        <span class="submenu"></span>
                        <div class="sub-menu clearfix">
                        <div class="centring">
                            <div class="one">
                                <h3>Shop By</h3>
                                <ul>
                                    {% for category in category.subs %}
                                        <li><a href="{{ category.url | url }}" title="{{ category.title }}">{{ category.title }}</a>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="two">
                                <!--<h3>Clothing</h3>-->
                                <!--<ul>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/tops/">TOPS</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/blouses/">BLOUSES</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/t-shirts/">T-SHIRTS</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/sweaters-cardigans/">SWEATERS &amp; CARDIGANS</a></li>-->
                                <!--</ul>-->
                                <!--<ul>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/coats-jackets/">COATS &amp; JACKETS</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/dresses/">DRESSES</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/trousers/">TROUSERS</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/skirts/">SKIRTS</a></li>-->
                                <!--</ul>-->
                            </div>
                            <div class="one">
                                <a href="shop-online"><img src="http://static.webshopapp.com/shops/020405/files/074899913/258x204x1/shop-online.jpg" alt="SHOP ONLINE"></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </li>


                {% endfor %}
                <!--<li><a href="{{ '' | url }}">{{ 'Home' | t }}</a></li>-->

                <!--<li><a href="http://www.nikkie.com/en/shop-online/">SHOP ONLINE</a>-->
                    <!--<span class="submenu"></span>-->
                    <!--<div class="sub-menu clearfix">-->
                        <!--<div class="centring">-->
                            <!--<div class="one">-->
                                <!--<h3>Shop By</h3>-->
                                <!--<ul>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/new-arrivals/">NEW ARRIVALS</a>-->
                                    <!--</li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/">CLOTHING</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/shoes/">SHOES</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/accessories/">ACCESSORIES</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/underwear/">UNDERWEAR</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/sale/">SALE</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="two">-->
                                <!--<h3>Clothing</h3>-->
                                <!--<ul>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/tops/">TOPS</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/blouses/">BLOUSES</a>-->
                                    <!--</li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/t-shirts/">T-SHIRTS</a>-->
                                    <!--</li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/sweaters-cardigans/">SWEATERS-->
                                        <!--&amp; CARDIGANS</a></li>-->
                                <!--</ul>-->
                                <!--<ul>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/coats-jackets/">COATS-->
                                        <!--&amp; JACKETS</a></li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/dresses/">DRESSES</a>-->
                                    <!--</li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/trousers/">TROUSERS</a>-->
                                    <!--</li>-->
                                    <!--<li><a href="http://www.nikkie.com/en/shop-online/clothing/skirts/">SKIRTS</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="one">-->
                                <!--<a href="shop-online"><img-->
                                        <!--src="http://static.webshopapp.com/shops/020405/files/074899913/258x204x1/shop-online.jpg"-->
                                        <!--alt="SHOP ONLINE"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->


                <!--<li><a href="http://www.nikkie.com/en/3202172/">SHOP THE LOOK</a></li>-->

                <!--<li><a href="http://www.nikandnik.com" target="_blank">SHOP NIK&amp;NIK</a></li>-->

                <!--<li><a href="http://www.nikkie.com/en/service/about/">ABOUT NIKKIE</a></li>-->

            </ul>
        </div>
    </div>
</div>