body {
    margin: 0px;
    background: #fff;
}
.centring {
    width: 1000px;
    margin: auto;
    position: relative;
}
* {
    margin: 0px;
    padding: 0px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0px;
    display: block;
    max-width: 100%;
}
ul,
li {
    list-style: none;
}
.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.main-menu .sub-menu img {
    width: 100%;
}
.main-menu .sub-menu .two {
    padding-left: 10px;
    width: 45%;
    float: left;
    text-align: left;
}
.main-menu .sub-menu ul {
    float: left;
}
.main-menu .sub-menu .two ul {
    width: 50%;
}
.main-menu .toggle {
    display: none;
}
.main-menu .cart-menu li {
    text-align: left;
}
.gui-image img {
    max-width: 999px;
}
a,
input {
    outline: none;
}
/* header */

#header-part {
    position: relative;
    width: 100%;
    z-index: 9999;
}
.main-menu li a {
    padding: 8px;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.main-menu li a:hover {
    text-decoration: underline;
}
.main-menu li:first-child {
    /*padding-left: 0px;*/
}
.main-menu .sub-menu {
    padding: 30px 0;
    width: 100%;
    position: absolute;
    z-index: 999999;
    background: #fff;
    /*left:5%;*/

    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
}
.main-menu .sub-menu li {
    padding: 0px;
    display: block;
}
.main-menu .sub-menu li a {
    padding: 3px 0;
    color: #000;
    font-size: 15px;
}
.main-menu .sub-menu .one {
    padding-left: 10px;
    width: 25%;
    float: left;
    text-align: left;
}
.main-menu h3 {
    padding-bottom: 10px;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
}
/*.main-menu li:hover .sub-menu {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/

.category-drop-down a {
   color: #000!important;
}

.category-drop-down .row{
   padding-top: 0px;
   margin-top: -10px;
}

.category-drop-down{
   padding: 30px 0;
   width: 100%;
   position: absolute;
   z-index: 999999;
   background: #fff;
   left: 0;
   padding-right: 30px;
   padding-left: 30px;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.25s linear;
}

.category-drop-down .dropdown-main-content .col-centered{
  text-align:center;
}


.center-cropped {
   width: 178px;
   height: 130px;
   background-position: center center;
   background-repeat: no-repeat;
 }

.main-menu li:hover .category-drop-down{
  visibility: visible;
  opacity: 1;
}

.bottom-category{
  text-align:left;
}


/* parent */

.menu-parent {
    padding: 25px 0;
    width: 100%;
    float: left;
    text-align: center;
}
/*Logo*/

.menu-parent .logo img {
    display: inline-block;
    max-width: 37%;
    height: auto;
}
@media (max-width: 767px) {
    .menu-parent .logo img {
        max-width: 55%;
    }
}
.menu-parent .menu ul {
    float: right;
    position: absolute;
    right: 0px;
    top: 38%;
}
.menu-parent .menu li {
    padding: 0 10px;
    line-height: 21px;
    float: left;
    background: url("https://assets.webshopapp.com/jessieandreza/line.jpg?1") no-repeat right center;
}
.menu-parent .menu li a {
    color: #0a2543;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-parent .menu > ul > li:last-child {
    padding-right: 0px;
    background: inherit;
}
.menu-parent .menu li:first-child img {
    padding-top: 3px;
}
.menu-parent .laungau,
.menu-parent .currency {
    float: left;
    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
    z-index: 9999;
    background: #000;
}
.menu-parent .currency {
    left: 65px;
}
.menu-parent .laungau li,
.menu-parent .currency li {
    padding: 0px 25px;
    color: #fff;
    float: none;
    display: block;
    white-space: nowrap;
    text-align: left;
}
.menu-parent .laungau li {
    background: url(flags.png) no-repeat 0 -11px;
    line-height: 11px;
    margin: 8px 0;
}
.menu-parent .laungau li.langua-en {
    background-position: 0 -33px;
}
.menu-parent .currency li {
    padding: 0 10px;
    background: none;
}
.menu-parent .laungau li a,
.menu-parent .currency li a {
    color: #fff;
    text-decoration: none;
    text-transform: none;
}
.menu-parent .laungau ul,
.menu-parent .currency ul {
    padding: 5px;
    left: 0px;
    width: 100%;
    position: relative;
    background: #000;
}
.menu-parent .menu li.cart .icon {
    color: #FFF;
    font-size: 8px;
}
.cart .icon {
    background: url("#") no-repeat;
    text-align: center;
    display: block;
    width: 15px;
    height: 20px;
    line-height: 26px;
    font-size: 8px;
    color: #FFF;
}
.cart-menu {
    padding: 13px 25px;
    width: 330px;
    float: left;
    position: absolute;
    right: -30px;
    z-index: 99999;
    border: 5px solid #000;
    display: none;
    background: #fff;
    top: 98px;
    border-top: none;
}
.fixed .cart-menu {
    position: fixed;
    top: 37px;
    right: 5%;
}
.cart-menu h4 {
    font-size: 18px;
    color: #0a2543;
    text-transform: uppercase;
    margin-top: 17px;
}
.cart-menu .left {
    width: 90px;
    float: left;
}
.cart-menu .right {
    padding: 15px 10px 15px 15px;
    width: 180px;
    float: left;
}
.cart-menu h3 {
    padding-bottom: 10px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
}
.cart-menu li {
    padding: 0px;
    display: block;
    background: inherit;
    text-align: left;
}
.cart-menu li a {
    padding: 3px 0;
    float: left;
    color: #000;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
.cart-menu ul {
    padding: 0px;
    width: 100%;
    position: relative;
}
.cart-menu .btn {
    padding: 3px 10px;
    margin-top: 30px;
    float: left;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: 1px solid #fff;
    text-decoration: none;
    transition: 0.4s ease-in;
    -webkit-transition: 0.2s ease-in;
    background: #000;
    float: right;
}
.cart-menu .btn:hover {
    color: #000;
    border: 1px solid #000;
    background: #fff;
}
.cart-menu li a:hover {
    text-decoration: underline;
}
.cart-menu.dropdown {
    padding: 10px;
    width: 300px;
}
.cart-menu.dropdown {} .cart-menu.dropdown ul {
    position: static;
    float: none;
}
.cart-menu.dropdown ul li {
    float: none;
    background: none;
    text-align: left;
}
.cart-menu.dropdown ul li span {
    float: right;
}
.cart-menu.dropdown ul li.total {
    padding: 10px 10px 0 10px;
    color: #0a2543;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 1px solid #0a2543;
    margin-top: 10px;
}
.cart-menu.dropdown h4 {
    text-align: left;
    padding-left: 10px;
}
.fixed .cart-menu.dropdown2 {
    position: fixed;
    top: 36px;
}
.cart-menu.dropdown2 {
    width: 380px;
    padding: 15px 10px;
}
.cart-menu.dropdown2 a {
    margin: 0 auto;
    float: none;
}

.search-container{
   float: right;
   position: absolute;
   right: 0px;
   top: 38%;
}

.search-container input{
  max-width:264px;
  width: 264px;
}

.search {
   width: 100%;
   position: absolute;
   right: 0px;
   z-index: 998;
   background: #fff;
   text-align: center;
}
.search form {
    /*float: left;*/
    width: 100%;
}
.search input[type="text"] {
    width: 85%;
    height: 40px;
    float: left;
    color: #6e6f73;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    border-bottom: 1px solid #C4C4C4;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search input[type="submit"] {
    padding: 5px 11px;
    height: 40px;
    float: left;
    border-bottom: 1px solid #C4C4C4;
    cursor: pointer;
    background: url(search.png) no-repeat top center;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search.last {
    padding: 50px 0 0;
}
.search .x {
    font-size: 25px;
    position: absolute;
    top: 50px;
    right: 0;
    cursor: pointer;
}
/* nav bar */

.main-menu {
    width: 100%;
    float: left;
    text-align: center;
    z-index: 999;
    background: #000000;
}
.main-menu .centring {
    position: static;
}
.main-menu li {
    display: inline-block;
}
.main-menu li {
    padding: 0 11px;
}
@media only screen and (max-width: 969px) {
    .main-menu li {
        padding: 0 12px;
    }
}
@media screen and (max-width: 760px) {
    .main-menu li {
        display: list-item;
    }
    /*Make all menu links full width*/

    .main-menu ul li,
    li a {
        width: 100%;
    }
    .menu-parent .right {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 969px) {
    .menu-parent {
        text-align: left;
    }
}
@media only screen and (max-width: 1149px) {
    .centring {
        padding: 0 15px;
        width: auto;
    }
    .centring2 {
        padding: 0 15px;
        width: auto;
    }
    .cart-menu {
        right: 0;
    }
    .menu-parent .menu ul {
        right: 20px;
    }
    .footer-bar .column1 {
        width: 28%;
    }
    .footer-bar .column2 {
        width: 23%;
    }
    .footer-bar .column3 {
        width: 40%;
    }
    .product-bar .btn a {
        margin-bottom: 10px;
    }
    .subcategory-bar .left {
        width: 50%;
    }
    .subcategory-bar .right {
        width: 36%;
    }
    #carousel {
        width: 28%;
    }
    #slider {
        width: 67%;
    }
    .subcategory-bar .social {
        width: 67%;
        margin-left: 28%;
    }
}
@media only screen and (max-width: 767px) {
    .cart-menu {
        top: 164px;
    }
    .fixed .cart-menu {
        right: 0;
    }
    .main-menu .centring {
        position: relative;
    }
    .main-menu .toggle {
        padding: 10px;
        color: #fff;
        display: block;
        cursor: pointer;
    }
    .main-menu ul {
        margin-top: 1px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0px;
        display: none;
        z-index: 99999;
        background: #000;
    }
    .main-menu .toggle span {
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        display: block;
        background: #fff;
    }
    .main-menu .toggle span:last-child {
        margin-bottom: 0px;
    }
    .main-menu li {
        padding: 0px;
        display: block;
        text-align: left;
        position: relative;
        border-bottom: 1px solid #fff;
    }
    .main-menu li .submenu:before {
        position: absolute;
        right: 10px;
        top: 5px;
        content: "+";
        width: 20px;
        height: 20px;
        color: #fff;
        z-index: 999;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    }
    .main-menu ul li .submenu-hide:before {
        position: absolute;
        right: 10px;
        top: -3px;
        content: "-";
        width: 20px;
        height: 20px;
        color: #fff;
        z-index: 999;
        cursor: pointer;
        font-size: 32px;
        font-weight: bold;
    }
    .main-menu li:hover .sub-menu {
        display: none;
    }
    .main-menu li a {
        display: block;
    }
    .main-menu .cart-menu li {
        float: left;
        width: 100%;
    }
    .main-menu .cart-menu ul {
        background: inherit;
    }
    .main-menu .sub-menu {
        left: 0;
        position: static;
        display: none;
        opacity: 1;
    }
    .main-menu .sub-menu ul {
        position: relative;
        background: inherit;
    }
    .main-menu .sub-menu .two ul {
        width: 100%;
    }
    .main-menu .sub-menu .one {
        padding-bottom: 20px;
        width: 100%;
    }
    .main-menu .sub-menu .two {
        padding-left: 0px;
        padding-bottom: 20px;
        width: 100%;
    }
    .menu-parent .currency {
        left: 0;
    }
    .main-menu h3 {
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
    }
    .main-menu .sub-menu img {
        width: auto;
    }
    .main-menu .sub-menu {
        width: 100%;
    }
    .menu-parent .menu ul {
        right: 20px;
        position: static;
        float: none;
        display: inline-block;
    }
    .menu-parent .right {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 20px;
    }
    .menu-parent .right .cart-menu.dropdown {
        display: none!important;
    }
    .menu-parent {
        text-align: center;
    }
    .main-menu .cart-menu ul {
        display: block;
    }
    .cart-menu {
        width: 100%;
    }
    .cart-menu .left {
        width: 100%;
        text-align: center;
    }
    .cart-menu .right {
        width: 100%;
    }
    .cart-menu h4 {
        text-align: left;
    }
    .search {
        width: 72%;
        left: 18%;
    }
    .menu-parent li {
        position: relative;
    }
    .menu-parent .laungau {
        left: -20px;
    }
    .subcategory-bar .item li {
        width: 49%;
    }
    .subcategory-bar .left {
        padding-bottom: 30px;
        width: 100%;
    }
    .subcategory-bar .right {
        margin-left: 0px;
        width: 100%;
    }
    .subcategory-bar .guide {
        text-align: left;
    }
    .np {
        margin-bottom: 30px;
    }
    .np ul {
        margin-bottom: 0;
        width: 100%;
    }
    #left-part {
        width: 44%;
    }
    #right-part {
        width: 55%;
    }
    .look-bar {
        margin-bottom: 52px;
    }
    .items-bar li {
        width: 100%;
    }
    .items-bar li .caption li {
        text-align: center;
    }
    .items-bar .caption li a {
        display: block;
    }
    .main-menu .sub-menu {
        padding: 0;
    }
    .main-menu .sub-menu .one {
        padding-bottom: 0;
        padding-left: 0;
    }
    .main-menu .sub-menu .one li a {
        padding-left: 18px;
    }
    .main-menu .sub-menu .two,
    .main-menu .sub-menu .one:last-child,
    .main-menu .sub-menu .one h3 {
        display: none;
    }
    .main-menu .sub-menu li a:hover {
        color: #fff;
        background: #000;
    }
    .main-menu .sub-menu li a {
        padding: 8px;
    }
}
@media only screen and (max-width: 767px) {
    .main-menu ul,
    .main-menu .sub-menu li a:hover {
        background: #000;
    }
    .main-menu li .sub-menu {
        background-color: #000!important;
        visibility: visible;
    }
    .main-menu li .sub-menu a {
        color: #FFF!important;
    }
    .main-menu ul li .submenu-hide:before {
        position: absolute;
        right: 10px;
        top: -3px;
        content: "-";
        width: 20px;
        height: 20px;
        color: #fff;
        z-index: 999;
        cursor: pointer;
        font-size: 32px;
        font-weight: bold;
    }
}

.search-container-mobile{
  text-align:center;
}

.search-container-mobile input{
   max-width: 100%;
   width: 66%;
   margin: 0 auto;
   margin-bottom: 10px;;
}
